:root {
    --banner-color: #0000007e;
    --background-color: #56627c;
    --form-accent-color: #353c4d;
    --font-color: #e6e6e6;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 100%;
    height: 100vh;
    background-image: url("Assets/fabio-fistarol-VjA_PSSsOHI-unsplash.jpeg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-container {
    z-index: -1;
    height: 180px;
    width: 100%;
    position: absolute;
    margin-top: 200px;
    background-color: var(--banner-color);
}

#title-container h1 {
    color: #ffffff;
    display: inline;
    position: relative;
    bottom: 60px;
    font-size: 3.5rem;
}

#title-container img {
    display: inline;
    filter: invert(100%);
    width: 180px;
}

#main-section {
    background-color: var(--background-color);
    color: var(--font-color);
    width: 60%;
    height: 100%;
    margin: 0px;
    margin-left: auto;
    padding: 110px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

#intro-text-container {
    margin: 0px 40px;
    font-size: 1.3rem;
}

#input-fields {
    background-color: var(--form-accent-color);
    width: 100%;
    padding: 40px 20px;
}