:root {
    --banner-color: #0000007e;
    --background-color: #56627c;
    --form-accent-color: #353c4d;
    --font-color: #e6e6e6;
}

* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-image: url("Assets/fabio-fistarol-VjA_PSSsOHI-unsplash.jpeg");
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}

#title-container {
    z-index: -1;
    height: 180px;
    width: 100%;
    position: absolute;
    top: 200px;
    background-color: var(--banner-color);
}

#title-container h1 {
    color: #ffffff;
    display: inline;
    position: relative;
    bottom: 60px;
    font-size: 3.5rem;
}

#title-container img {
    display: inline;
    filter: invert(100%);
    width: 180px;
}

#main-section {
    background-color: var(--background-color);
    color: var(--font-color);
    width: 60%;
    height: 100%;
    margin: 0px;
    margin-left: auto;
    padding: 110px 0px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}

#intro-text-container {
    margin: 0px 40px;
    font-size: 1.3rem;
}

#input-fields {
    background-color: var(--form-accent-color);
    width: 100%;
    height: fit-content;
    min-height: 200px;
    padding: 20px 20px;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 5px 5px black;
}

#input-fields div {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 40%;
    min-width: 200px;
}

#input-fields label {
    margin: 5px;
    font-size: 1.2rem;
}

#input-fields input {
    background-color: rgb(192, 192, 192);
    border: none;
    height: 25px;
    border-radius: 5px;
}

#input-fields input:focus {
    box-shadow: 0px 0px 10px white;
}

#submit-btn-container {
    margin: 40px 40px;
}

#submit-btn-container button {
    background-color: transparent;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    border-radius: 5px;
    font-size: 1.5rem;
    padding: 10px;
    cursor: pointer;
}

/* Responsiveness */
@media only screen and (max-width: 965px) {
    html {
        font-size: 10px;
    }
    body {
        background-size: contain;
        background-position: top;
        background-position: 50% -150px;
    }
    #title-container {
        top: 0px;
    }
    #main-section {
        padding-top: 20px;
        width: 100%;
        margin-top: 180px;
    }
}

@media only screen and (max-width: 350px) {
    #title-container img {
        width: 100px;
    }
    body {
        background-size: contain;
        background-position: top;
        background-position: 50% 0px;
    }
    #title-container h1 {
        bottom: 30px;
    }
}